@model ComponentIndexListViewModel
@{
    var IsAdmin = User.IsInRole("GlobalAdmin");
    var IsComponentSupervisor = User.IsInRole("ComponentAdmin");
    List<ComponentSelectListItem> CanEditComponents = new List<ComponentSelectListItem>();
    if (User.HasClaim(x => x.Type == "CanEditComponents"))
    {
        CanEditComponents = JsonConvert.DeserializeObject<List<ComponentSelectListItem>>(((ClaimsIdentity)User.Identity).FindFirst("CanEditComponents").Value.ToString());
    }

}
<nav class="pageBar navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <span class="navbar-brand">Component Index</span>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>
        <div class="navbar-header pull-left">
            <form asp-page="/Index" method="get" class="navbar-form navbar-search">
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" name="SearchString" class="bigControl searchBox form-control" value="@Model.CurrentFilter" placeholder="Search Components" />
                        <div class="input-group-btn">
                            <button class="btn btn-search-addon" type="submit">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                @{
                    if (Model.CurrentFilter != null)
                    {
                        <li><a asp-page="/Index"><i class="ion-md-arrow-round-back"></i> Back to full List</a></li>
                    }
                }
                @if (IsAdmin || IsComponentSupervisor)
                {
                    <li><a asp-action="Create" asp-route-returnUrl="/Components/Index"><span class="glyphicon glyphicon-plus" style="margin-right:2px"></span>Create a New Component</a></li>
                }
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div style="margin-top: 70px">
    @if (ViewBag.Status == "Success!")
    {
        <div class="indexAlertWrapper">
            <div class="alert alert-success alert-dismissible fade in">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Success!</strong>
                <span>@ViewBag.Message</span>
            </div>
        </div>

    }
    else if (Model.CurrentFilter != null)
    {
        <div class="indexAlertWrapper">
            <div class="alert alert-primary alert-dismissible fade in">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Message:</strong>
                <span>Found @Model.Components.Count() Components that match '@Model.CurrentFilter'</span>
            </div>
        </div>
    }
    @if (Model.Components.Count() > 0)
    {

        <div class="table-responsive">
            <table class="table indexTable">
                <thead>
                    <tr>
                        <th>
                            <a asp-page="/Index" asp-route-sortOrder="@Model.ComponentNameSort"
                               asp-route-searchString="@Model.CurrentFilter" title="Sort by Component Name">
                                @Html.DisplayNameFor(model => model.Components.First().ComponentName)
                                @if (Model.CurrentSort == "name_desc")
                                {
                                    <span class="glyphicon glyphicon-sort-by-alphabet"></span>
                                }
                                else
                                {
                                    <span class="glyphicon glyphicon-sort-by-alphabet-alt"></span>
                                }
                            </a>
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Components.First().Acronym)
                        </th>
                        <th>
                            <a asp-page="/Index" asp-route-sortOrder="@Model.ParentComponentNameSort"
                               asp-route-searchString="@Model.CurrentFilter" title="Sort by Parent Component Name">
                                @Html.DisplayNameFor(model => model.Components.First().ParentComponentName)
                                @if (Model.CurrentSort == "ParentComponentName")
                                {
                                    <span class="glyphicon glyphicon-sort-by-alphabet-alt"></span>
                                }
                                else
                                {
                                    <span class="glyphicon glyphicon-sort-by-alphabet"></span>
                                }
                            </a>
                        </th>
                        <th style="text-align:center">
                            @Html.DisplayNameFor(model => model.Components.First().PositionCount)
                        </th>
                        <th style="text-align:center">
                            @Html.DisplayNameFor(model => model.Components.First().MemberCount)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Components)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.ComponentName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Acronym)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ParentComponentName)
                            </td>
                            <td style="text-align:center">
                                @Html.DisplayFor(modelItem => item.PositionCount)
                            </td>
                            <td style="text-align:center">
                                @Html.DisplayFor(modelItem => item.MemberCount)
                            </td>
                            <td>
                                @if (IsAdmin || CanEditComponents.Any(x => x.Id == item.ComponentId))
                                {
                                    <a asp-action="Edit" asp-route-id="@item.ComponentId" asp-route-returnUrl="/Components/Index" title="Edit Component" class="glyphicon-ring"><span class="glyphicon glyphicon-pencil glyphicon-bordered"></span></a>
                                    <a asp-action="Details" asp-route-id="@item.ComponentId" asp-route-returnUrl="/Components/Index" title="View Details" class="glyphicon-ring"><span class="glyphicon glyphicon-list-alt glyphicon-bordered"></span></a>
                                    <a asp-action="Delete" asp-route-id="@item.ComponentId" asp-route-returnUrl="/Components/Index" title="Delete Component" class="glyphicon-ring"><span class="glyphicon glyphicon-trash glyphicon-bordered"></span></a>
                                }
                                else
                                {
                                    <a asp-action="Details" asp-route-id="@item.ComponentId" asp-route-returnUrl="/Components/Index" title="View Details" class="glyphicon-ring"><span class="glyphicon glyphicon-list-alt glyphicon-bordered"></span></a>
                                }

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <div style="max-width: 95%; margin: auto">
            <a asp-action="Index" class="">Go Back to Full List</a>
        </div>
    }
</div>

<script>
    // close any alert after 3 seconds
    window.setTimeout(function () {
        $(".alert").fadeTo(500, 0).slideUp(500, function () {
            $(this).remove();
        });
    }, 3000);
</script>