@model ComponentIndexListViewModel


<div class="headerContainer">
    <h3>Component Index</h3>
    <p>
        <a asp-action="Create"><span class="glyphicon glyphicon-plus" style="margin-right:2px"></span>Create a New Component</a>
    </p>
    <form asp-page="/Index" method="get">
        <div class="form-actions no-color">
            <p>
                Find by name:
                <input type="text" class="bigControl" name="SearchString" value="@Model.CurrentFilter" />
                <input type="submit" value="Search" class="btn btn-default" /> |
                <a asp-page="/Index"><span class="glyphicon glyphicon-refresh" style="margin-right:2px"></span>Back to Full List</a>
            </p>
        </div>
    </form>
</div>
    <h6 class="text-danger">@ViewBag.Message</h6>

    <table class="table indexTable">
        <thead>
            <tr>
                <th>                    
                    <a asp-page="/Index" asp-route-sortOrder="@Model.ComponentNameSort"
                       asp-route-searchString="@Model.CurrentFilter">
                        @Html.DisplayNameFor(model => model.Components.First().ComponentName)
                        @if (Model.CurrentSort == "name_desc")
                        {
                            <span class="glyphicon glyphicon-sort-by-alphabet"></span>
                        }
                        else
                        {
                            <span class="glyphicon glyphicon-sort-by-alphabet-alt"></span>
                        }                        
                    </a>
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Components.First().Acronym)
                </th>
                <th>
                    <a asp-page="/Index" asp-route-sortOrder="@Model.ParentComponentNameSort"
                       asp-route-searchString="@Model.CurrentFilter">
                        @Html.DisplayNameFor(model => model.Components.First().ParentComponentName)
                        @if (Model.CurrentSort == "ParentComponentName")
                        {
                            <span class="glyphicon glyphicon-sort-by-alphabet-alt"></span>
                        }
                        else
                        {
                            <span class="glyphicon glyphicon-sort-by-alphabet"></span>
                        }
                    </a>
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Components.First().PositionCount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Components.First().MemberCount)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Components)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ComponentName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Acronym)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ParentComponentName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PositionCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MemberCount)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ComponentId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ComponentId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ComponentId">Delete</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
