@model BlueDeck.Models.DutyStatus

<div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 formContainer">
    <div class="formHeader">
        <h2 class="formHeader-heading">New Duty Status</h2>
        <p class="formHeader-description">
            Create a new Duty Status
        </p>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-12">
                <form asp-action="Create" asp-route-returnUrl="@ViewBag.ReturnUrl">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="DutyStatusId" />
                    <div class="row">
                        <div class="col-md-4 form-group">
                            <label asp-for="DutyStatusName" class="control-label"></label>
                            <input asp-for="DutyStatusName" class="form-control" />
                            <span asp-validation-for="DutyStatusName" class="text-danger"></span>
                        </div>
                        <div class="col-md-2 form-group">
                            <label asp-for="Abbreviation" class="control-label"></label>
                            <input asp-for="Abbreviation" class="form-control" />
                            <span asp-validation-for="Abbreviation" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-10 form-group" style="margin-bottom:0px">
                            <div class="form-checkbox">
                                <label>
                                    <input asp-for="HasPolicePower" /> @Html.DisplayNameFor(model => model.HasPolicePower)
                                </label>
                                <span class="note">
                                    Status has police power.
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-10 form-group" style="margin-bottom:0px">
                            <div class="form-checkbox">
                                <label>
                                    <input asp-for="IsExceptionToNormalDuty" /> @Html.DisplayNameFor(model => model.IsExceptionToNormalDuty)
                                </label>
                                <span class="note">
                                    Members in status will be counted as Exceptions to Normal Duty.
                                </span>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-sm-4 form-group">
                            <a href="@ViewBag.ReturnUrl" class="btn btn-default">Cancel</a>
                            <a asp-action="Create" asp-route-returnUrl="@ViewBag.ReturnUrl" class="btn btn-warning">Reset</a>
                            <input type="submit" value="Create" class="btn btn-primary" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>