@model BlueDeck.Models.Enums.DutyStatus


<div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 formContainer">
    <div class="formHeader">
        <h4 class="formHeader-heading"><strong>Duty Status Details</strong></h4>
        <p class="formHeader-description">
            Showing Duty Status Details for "@Model.DutyStatusName"
        </p>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-2 form-group">
                    @Html.LabelFor(model => model.DutyStatusId, new { @class = "control-label" })
                    @Html.TextBoxFor(model => model.DutyStatusId, new { @class = "form-control", disabled = "disabled" })
                </div>
                <div class="col-md-4 form-group">
                    @Html.LabelFor(model => model.DutyStatusName, new { @class = "control-label" })
                    @Html.TextBoxFor(model => model.DutyStatusName, new { @class = "form-control", disabled = "disabled" })
                </div>
                <div class="col-md-2 form-group">
                    @Html.LabelFor(model => model.Abbreviation, new { @class = "control-label" })
                    @Html.TextBoxFor(model => model.Abbreviation, new { @class = "form-control", disabled = "disabled" })
                </div>
            </div>
            <div class="row">
                <div class="col-sm-10 form-group" style="margin-bottom:0px">
                    <div class="form-checkbox">
                        <label>
                            <input asp-for="HasPolicePower" disabled /> @Html.DisplayNameFor(model => model.HasPolicePower)
                        </label>
                        <span class="note">
                            Status has Police Power.
                        </span>
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-sm-12 form-group">
                    <a href="@ViewBag.ReturnUrl" class="btn btn-default">Cancel</a>
                    <a asp-action="Edit" asp-route-id="@Model.DutyStatusId" asp-route-returnUrl="@ViewBag.ReturnUrl" class="btn btn-primary">Edit</a>
                    <a asp-action="Delete" asp-route-id="@Model.DutyStatusId" asp-route-returnUrl="@ViewBag.ReturnUrl" class="btn btn-danger pull-right">Delete</a>
                </div>
            </div>
        </div>
    </div>
</div>
