@model AdminMemberIndexListViewModel


<nav class="pageBar navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <span class="navbar-brand">Member Index</span>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>
        <div class="navbar-header pull-left">
            <form asp-page="/Index" method="get" class="navbar-form navbar-search">
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" name="SearchString" class="bigControl searchBox form-control" value="@Model.CurrentFilter" placeholder="Search Members" />
                        <div class="input-group-btn">
                            <button class="btn btn-search-addon" type="submit">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                @{
                    if (Model.CurrentFilter != null)
                    {
                        <li><a asp-page="/Index"><i class="ion-md-arrow-round-back"></i> Back to full List</a></li>
                    }
                }
                <li><a asp-action="Create" asp-controller="Members" asp-route-returnUrl="/Admin/Index"><i class="ion-md-person-add"></i> Create a New Member</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div style="margin-top:70px;">
    @if (ViewBag.Status == "Success!")
    {
        <div class="indexAlertWrapper">
            <div class="alert alert-success alert-dismissible fade in">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Success!</strong>
                <span>@ViewBag.Message</span>
            </div>
        </div>

    }
    else if (Model.CurrentFilter != null)
    {
        <div class="indexAlertWrapper">
            <div class="alert alert-primary alert-dismissible fade in">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Message:</strong>
                <span>Found @Model.Members.Count() Members that match '@Model.CurrentFilter'</span>
            </div>
        </div>
    }
    @if (Model.Members.Count() > 0)
    {

        <div class="table-responsive">
            <table class="table indexTable">
                <thead>
                    <tr>
                        <th>
                            <a asp-page="/Index" asp-route-sortOrder="@Model.MemberLastNameSort"
                               asp-route-searchString="@Model.CurrentFilter" title="Sort by Last Name">
                                Last Name
                                @if (Model.CurrentSort == "lastName_desc")
                                {
                                    <span class="glyphicon glyphicon-sort-by-alphabet"></span>
                                }
                                else
                                {
                                    <span class="glyphicon glyphicon-sort-by-alphabet-alt"></span>
                                }
                            </a>
                        </th>
                        <th>
                            <a asp-page="/Index" asp-route-sortOrder="@Model.MemberFirstNameSort"
                               asp-route-searchString="@Model.CurrentFilter" title="Sort by First Name">
                                First Name
                                @if (Model.CurrentSort == "firstName_desc")
                                {
                                    <span class="glyphicon glyphicon-sort-by-alphabet"></span>
                                }
                                else
                                {
                                    <span class="glyphicon glyphicon-sort-by-alphabet-alt"></span>
                                }
                            </a>
                        </th>
                        <th>
                            <a asp-page="/Index" asp-route-sortOrder="@Model.IdNumberSort"
                               asp-route-searchString="@Model.CurrentFilter" title="Sort by ID#">
                                ID Number
                            </a>
                        </th>
                        <th>
                            <a asp-page="/Index" asp-route-sortOrder="@Model.PositionNameSort"
                               asp-route-searchString="@Model.CurrentFilter" title="Sort by Position Name">
                                Position Name
                            </a>
                        </th>
                        <th style="text-align:center">
                            Status
                        </th>
                        <th style="text-align:center">
                            <a asp-page="/Index" asp-route-sortOrder="@Model.IsUserRoleFilter"
                               asp-route-searchString="@Model.CurrentFilter" title="Show only Users in User Role">
                                User
                            </a>
                        </th>
                        <th style="text-align:center">
                            <a asp-page="/Index" asp-route-sortOrder="@Model.IsComponentAdminRoleFilter"
                               asp-route-searchString="@Model.CurrentFilter" title="Show only Users in Component Admin Role">
                                Component Admin
                            </a>
                        </th>
                        <th style="text-align:center">
                            <a asp-page="/Index" asp-route-sortOrder="@Model.IsGlobalAdminRoleFilter"
                               asp-route-searchString="@Model.CurrentFilter" title="Show only Users in Global Admin Role">
                                Global Admin
                            </a>
                        </th>
                        <th style="text-align:center">
                            BlueDeck ID
                        </th>
                        <th>
                            Email
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Members)
                    {
                    <tr>
                        <td>
                            @item.LastName
                        </td>
                        <td>
                            @item.FirstName
                        </td>
                        <td>
                            @item.IdNumber
                        </td>
                        <td>
                            @item.PositionName
                        </td>
                        <td style="text-align:center">
                            @item.AccountState
                        </td>
                        <td style="text-align:center">
                            @Html.DisplayFor(modelItem => item.IsUser)
                        </td>
                        <td style="text-align:center">
                            @Html.DisplayFor(modelItem => item.IsComponentAdmin)
                        </td>
                        <td style="text-align:center">
                            @Html.DisplayFor(modelItem => item.IsGlobalAdmin)
                        </td>
                        <td style="text-align:center">
                            @Html.DisplayFor(modelItem => item.MemberId)
                        </td>
                        <td>
                            <a href="mailto:@item.Email" target="_top" title="Click to send and Email">
                                @item.Email
                            </a>
                        </td>
                        <td>
                            <a asp-action="Details" asp-controller="Members" asp-route-id="@item.MemberId" asp-route-returnUrl="/Admin/Index" title="View Details" class="glyphicon-ring">
                                <span class="glyphicon glyphicon-list-alt glyphicon-bordered"></span>
                            </a>
                            <a asp-action="Edit" asp-controller="Members" asp-route-id="@item.MemberId" asp-route-returnUrl="/Admin/Index" title="Edit Member" class="glyphicon-ring">
                                <span class="glyphicon glyphicon-pencil glyphicon-bordered"></span>
                            </a>
                            <a asp-action="Delete" asp-controller="Members" asp-route-id="@item.MemberId" asp-route-returnUrl="/Admin/Index" title="Delete Member" class="glyphicon-ring">
                                <span class="glyphicon glyphicon-trash glyphicon-bordered"></span>
                            </a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <div style="max-width: 95%; margin: auto">
            <a asp-action="Index" class="">Go Back to Full List</a>
        </div>
    }
</div>
<script>
    // close any alert after 3 seconds
    window.setTimeout(function () {
        $(".alert").fadeTo(500, 0).slideUp(500, function () {
            $(this).remove();
        });
    }, 3000);
</script>