@model AddPositionToComponentViewComponentViewModel

<div class="modal fade" id="addPositionToComponentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" data-target="#addPositionToComponentModal">
                        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>

                    </button>
                    <h4 class="modal-title" id="addPositionToComponentModalLabel">@(Model.PositionId != null ? "Edit " + Model.PositionName : "Add Position to " + @Model.ParentComponent.Name)  </h4>

                </div>
                <div class="modal-body row">
                    @if (ViewBag.Message != null)
                    {
                        <div class="col-md-12">
                            <div class="alert alert-danger alert-dismissible fade in">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                <strong>Warning!</strong>
                                <span>@ViewBag.Message</span>
                            </div>
                        </div>
                    }
                    
                    <form asp-action="AddPositionToComponent" id="addPositionToComponentModalForm">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        @Html.HiddenFor(model => model.PositionId)
                        @Html.HiddenFor(model => model.LineupPosition)
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-sm-5 form-group">
                                    <label asp-for="PositionName" class="control-label"></label>
                                    <input asp-for="PositionName" class="form-control" />
                                    <span asp-validation-for="PositionName" class="text-danger"></span>
                                </div>
                                <div class="col-sm-3 form-group">
                                    <label asp-for="Callsign" class="control-label"></label>
                                    <input asp-for="Callsign" class="form-control" />
                                    <span asp-validation-for="Callsign" class="text-danger"></span>
                                </div>
                                <div class="col-sm-4 form-group">
                                    <label asp-for="JobTitle" class="control-label"></label>
                                    <input asp-for="JobTitle" class="form-control" />
                                    <span asp-validation-for="JobTitle" class="text-danger"></span>
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-sm-10 form-group" style="margin-bottom:0px">
                                    <div class="form-checkbox">
                                        <label>
                                            <input asp-for="IsUnique" data-membercount="@Model.MemberCount" /> @Html.DisplayNameFor(model => model.IsUnique)
                                        </label>
                                        <span class="note">
                                            Only a single Member can be assigned.
                                        </span>
                                    </div>
                                </div>
                                <div class="col-sm-5 form-group" style="margin-bottom:0px">
                                    <div class="form-checkbox">
                                        <label>
                                            <input asp-for="IsManager" /> @Html.DisplayNameFor(model => model.IsManager)
                                        </label>
                                        <span class="note">
                                            This Position is the Manager for it's Component.
                                        </span>
                                    </div>
                                </div>
                                <div class="col-sm-5 form-group" style="margin-bottom:0px">
                                    <div class="form-checkbox">
                                        <label>
                                            <input asp-for="IsAssistantManager" /> @Html.DisplayNameFor(model => model.IsAssistantManager)
                                        </label>
                                        <span class="note">
                                            This Position is an Assistant Manager for it's Component.
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                @if (Model.PositionId != null)
                                {
                                    <div class="col-sm-6 form-group">
                                        <label asp-for="ParentComponentId" class="control-label"></label>
                                        @Html.DropDownListFor(model => model.ParentComponentId,
                                                                        new SelectList(Model.ComponentList, "Id", "ComponentName"),
                                                                        "Choose Parent Component",
                                                                        new { @class = "form-control" })
                                        <span asp-validation-for="ParentComponentId" class="text-danger"></span>
                                    </div>
                                }
                                else
                                {
                                    @Html.HiddenFor(model => model.ParentComponentId)
                                }
                                <div id="lineupSelectionTarget"></div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-default pull-left" data-dismiss="modal" data-target="#addPositionToComponentModal">Close</button>
                        @if (Model.PositionId != null)
                        {<button type="button" id="deletePositionModalButton" class="btn btn-danger pull-right">Delete Position</button>}
                        <button type="button" id="addPositionToComponentModalSubmit" class="btn btn-primary pull-left">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@if (Model.PositionId != null)
{
    <div class="modal fade" id="deletePositionSubModal" tabindex="-1" role="dialog" aria-labelledby="deletePositionSubModalLabel" aria-hidden="true">
        <div class="vertical-alignment-helper">
            <div class="modal-dialog vertical-align-center">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" data-target="#deletePositionSubModal">
                            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>

                        </button>
                        <h4 class="modal-title" id="deletePositionSubModalTitle">Confim Delete?</h4>
                    </div>
                    <div style="padding: 10px 30px 5px 30px">
                        <p>Deleting this Position will reassign all of it's current members to the master "unassigned" pool. Deleting this Position cannot be undone. Are you sure you want to delete this position?</p>
                        <form asp-action="DeletePosition" id="deletePositionSubModalForm">
                            @Html.HiddenFor(model => model.PositionId)
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" data-dismiss="modal" data-target="#deletePositionSubModal" class="btn btn-success pull-left">No</button>
                        <button type="button" id="deletePositionConfirm" class="btn btn-danger pull-right">Yes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="uniqueWarningSubModal" tabindex="-1" role="dialog" aria-labelledby="uniqueWarningSubModalLabel" aria-hidden="true">
        <div class="vertical-alignment-helper">
            <div class="modal-dialog vertical-align-center">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" data-target="#uniqueWarningSubModal">
                            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>

                        </button>
                        <h4 class="modal-title" id="uniqueWarningSubModalTitle">Warning!</h4>
                    </div>
                    <div style="padding: 10px 30px 5px 30px">
                        @Html.HiddenFor(model => model.MemberCount)
                        <p>This Position currently has @Model.MemberCount members assigned to it. Changing the Position to "Unique" will reassign all current members to the general pool and restrict the Position to only allow a single member to be assigned. Are you sure you want to change this Position to Unique?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="uniqueWarningSubModalCancel" class="btn btn-success pull-left">Cancel</button>
                        <button type="button" data-dismiss="modal" data-target="#uniqueWarningSubModal" class="btn btn-danger pull-right">Yes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}




