@model ComponentDemographicTableViewComponentViewModel

<div class="table-responsive">
    <table class="table table-condensed">
        <caption>
            Demographic Results for @Model.Component.Name and all subordinate Components
        </caption>
        <thead>            
            <tr>
                <th>

                </th>
                @foreach(MemberRankSelectListItem rank in Model.Ranks)
                {
                    <th style="text-align:center">
                        @rank.RankShort
                    </th>
                }
                <th style="text-align:center">
                    Totals
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                @foreach (MemberRankSelectListItem rank in Model.Ranks)
                {
                    <td style="text-align:center">
                        @{
                            int i = 0;
                            foreach (MemberGenderSelectListItem gender in Model.Genders)
                            {
                                i++;
                                @gender.Abbreviation;
                                if (i >= 0 && i < Model.Genders.Count)
                                {
                                    @: |
                                }
                            }
                        }
                    </td>
                }
                <td style="text-align:center">
                    @{
                        int l = 0;
                        foreach (MemberGenderSelectListItem gender in Model.Genders)
                        {
                            l++;
                            @gender.Abbreviation;
                            if (l >= 0 && l < Model.Genders.Count)
                            {
                                @: |
                            }
                        }
                    }
                </td>
            </tr>
            @foreach(MemberRaceSelectListItem race in Model.Races)
            {
                <tr>
                    <td>
                        @race.RaceFullName
                    </td>
                    @foreach(MemberRankSelectListItem rank in Model.Ranks)
                    {
                    <td style="text-align:center">
                        @{
                            var i = 0;
                            foreach(MemberGenderSelectListItem gender in Model.Genders)
                            {
                                i++;
                                @Model.Component.MemberCountRecursive(gender.MemberGenderId, race.MemberRaceId, rank.MemberRankId) 
                                if(i >= 0 && i < Model.Genders.Count)
                                {
                                    @: |
                                }
                            }
                        }
                    </td>
                    }
                    <td style="text-align:center">
                        <strong>
                            @{
                                int j = 0;
                                foreach (MemberGenderSelectListItem gender in Model.Genders)
                                {
                                    j++;
                                    int total = 0;
                                    foreach (MemberRankSelectListItem rank in Model.Ranks)
                                    {

                                        total += Model.Component.MemberCountRecursive(gender.MemberGenderId, race.MemberRaceId, rank.MemberRankId);
                                    }
                                    @total
                                    if (j >= 0 && j < Model.Genders.Count)
                                    {
                                        @: |
                                    }
                                }
                            }
                        </strong>
                    </td>
                </tr>
            }
            <tr>
                <td>
                    <strong>Totals</strong>
                </td>
                @foreach(MemberRankSelectListItem rank in Model.Ranks)
                {
                <td style="text-align:center">
                    <strong>
                        @{
                            var i = 0;
                            foreach (MemberGenderSelectListItem gender in Model.Genders)
                            {
                                i++;
                                int total = 0;
                                @foreach(MemberRaceSelectListItem race in Model.Races)
                                {
                                    total += Model.Component.MemberCountRecursive(gender.MemberGenderId, race.MemberRaceId, rank.MemberRankId);
                                }
                                @total
                                if (i >= 0 && i < Model.Genders.Count)
                                {
                                    @: |
                                }
                            }
                        }
                    </strong>
                </td>
                }
                <td style="text-align:center">
                    <strong>
                        @{
                            var k = 0;
                            foreach (MemberGenderSelectListItem gender in Model.Genders)
                            {
                                k++;
                                int total = 0;
                                foreach (MemberRankSelectListItem rank in Model.Ranks)
                                {
                                    foreach (MemberRaceSelectListItem race in Model.Races)
                                    {
                                        total += Model.Component.MemberCountRecursive(gender.MemberGenderId, race.MemberRaceId, rank.MemberRankId);
                                    }
                                }
                                @total
                                if (k >= 0 && k < Model.Genders.Count)
                                {
                                    @: |
                                }
                            }
                        }
                    </strong>
                </td>
            </tr>    
        </tbody>
    </table>
</div>