@model BlueDeck.Models.Component

        
<div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 formContainer">
    @if (ViewBag.Status == "Warning!")
    {
        <div class="alert alert-danger">
            <strong>@ViewBag.Status</strong> @ViewBag.Message
        </div>
    }
    <div class="formHeader">
        <h4 class="formHeader-heading"><strong>Delete Component</strong></h4>
        <p class="formHeader-description">
            Are you certain that you want to delete @Model.Name? This action cannot be undone.
        </p>

        <div>
            <a asp-action="Index"><i class="ion-md-arrow-round-back"></i> Back to List</a>
        </div>

    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-5 form-group">
                    @Html.LabelFor(model => model.Name, new { @class = "control-label" })
                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control", disabled = "disabled" })
                </div>
                <div class="col-md-3 form-group">
                    @Html.LabelFor(model => model.Acronym, new { @class = "control-label" })
                    @Html.TextBoxFor(model => model.Acronym, new { @class = "form-control", disabled = "disabled" })
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-5 form-group">
                    @Html.LabelFor(model => model.ParentComponent.Name, new { @class = "control-label" })
                    @Html.TextBoxFor(model => model.ParentComponent.Name, new { @class = "form-control", disabled = "disabled" })
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-sm-12 form-group pull-left">
                    <form asp-action="Delete" asp-route-returnUrl="@ViewBag.ReturnUrl"  >
                        <input type="hidden" asp-for="ComponentId" />
                        <a href="@ViewBag.ReturnUrl" class="btn btn-default">Cancel</a>
                        <a asp-action="Edit" asp-route-id="@Model.ComponentId" asp-route-returnUrl="@ViewBag.ReturnUrl" class="btn btn-primary">Edit</a>
                        @if (Model.ChildComponents.Count == 0)
                        {
                            <input type="submit" value="Confirm Delete" class="btn btn-danger pull-right" />
                        }
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
