@model RosterManagerViewComponentViewModel
@{ var uniquePositionId = 0;}

@foreach (RosterManagerViewModelComponent c in Model.ComponentList)
{
    <div class="componentContainer-nested-@c.NestedLevel componentContainer container" data-componentid="@c.ComponentId">
        <div class="navbar navbar-inverse" data-componentid="@c.ComponentId">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#componentNavBar-@c.ComponentId">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <span class="headerSpan componentNameLink" data-componentid="@c.ComponentId" title="Click to view Roster for this Component">@c.Name</span>
                    @if (c.Name.Contains("Squad"))
                    {
                        <a asp-action="Lineup" asp-controller="Documents" asp-route-id="@c.ComponentId" asp-route-returnUrl="/Roster?id=@c.ComponentId" style="color:white">Create Lineup</a>
                    }
                </div>
                <div class="collapse navbar-collapse" id="componentNavBar-@c.ComponentId">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="componentHeaderMenuItem expandCollapseButton" data-componentid="@c.ComponentId" data-state="expanded">
                            <span class="glyphicon glyphicon-chevron-up"></span> Collapse
                        </li>
                        <li class="componentHeaderMenuItem editComponentButton" data-componentid="@c.ComponentId">
                            <span class="glyphicon glyphicon-pencil"></span> Edit
                        </li>
                        <li class="componentHeaderMenuItem addNewComponentButton" data-componentid="@c.ComponentId">
                            <span class="glyphicon glyphicon-plus"></span> Add Sub Component
                        </li>
                        <li class="componentHeaderMenuItem addNewPositionButton" data-componentid="@c.ComponentId">
                            <span class="glyphicon glyphicon-plus"></span> Add Position
                        </li>
                        @if (c.Children.Count() == 0)
                        {
                            <li class="componentHeaderMenuItem deleteComponentButton" data-componentid="@c.ComponentId">
                                <span class="glyphicon glyphicon-trash"></span> Delete
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>

        <div class="componentDetails collapse in" id="@("componentDetailSection" + c.ComponentId)" data-componentid="@c.ComponentId">
            <div class="row">
                <div class="col-xs-12 col-md-8" style="z-index: 1">
                    @foreach (Position p in c.Positions.OrderBy(x => x.LineupPosition))
                    {
                        if (p.IsUnique)
                        {
                            <div class="form-group">
                                <strong>@p.Name</strong><small> @(p.IsManager ? "(Component Supervisor)" : p.IsAssistantManager ? "(Assistant Supervisor)" : "(Unique Position)")</small>
                                <div class="editPositionButton" data-positionid="@p.PositionId">
                                    <span class="glyphicon glyphicon-pencil" data-positionid="@p.PositionId"></span>
                                    <span class="tooltiptext">Edit @p.Name</span>
                                </div>
                                <strong class="callSignSpan pull-right">@(p.Callsign != null ? p.Callsign : "No Callsign")</strong>
                                <div class="members">
                                    @if (p.Members.Count() > 0)
                                    {
                                        uniquePositionId++;
                                        <div id="@uniquePositionId" data-positionid="@p.PositionId" data-parentcomponentid="@c.ComponentId" class="insertable">
                                            <div id="member-id-@p.Members[0].MemberId" class="member" draggable="true" data-memberId="@p.Members[0].MemberId">

                                                <span style="float:left;">
                                                    <span class="glyphicon glyphicon-option-vertical" style="float: left;color:#7d7b78"></span>
                                                    <img class="@p.Members[0].Rank.PayGrade" src="@p.Members[0].Rank.GetRankImageSource()" style="height:16px; width:16px; margin-right:5px" />
                                                    @p.Members[0].GetTitleName() <small style="color:orangered;">@(p.Members[0].TempPositionId == null ? "" : $"(TDY to {p.Members[0].TempPosition.ParentComponent.Name})" )</small>
                                                </span>
                                                <div class="pull-right moreOptionsButtonGroup" style="margin-left:20px; cursor:pointer">
                                                    <span class="glyphicon glyphicon-menu-hamburger moreOptions dropdown-toggle" data-memberId="@p.Members[0].MemberId" type="button" data-toggle="dropdown"></span>
                                                    <ul class="dropdown-menu">
                                                        <li><span class="drag-options-edit" data-memberId="@p.Members[0].MemberId"><i class="glyphicon glyphicon-pencil"></i> Edit Employee Info</span></li>
                                                        <li><span class="drag-options-reassign" data-memberId="@p.Members[0].MemberId"><i class="glyphicon glyphicon-refresh"></i> Reassign Employee</span></li>
                                                        <li><span class="drag-options-changestatus" data-memberId="@p.Members[0].MemberId"><i class="glyphicon glyphicon-check"></i> Change Duty Status</span></li>
                                                        @if (p.Members[0].TempPositionId != null)
                                                        {
                                                            <li><span class="drag-options-tdy" data-memberId="@p.Members[0].MemberId"><i class="glyphicon glyphicon-remove"></i> Cancel TDY</span></li>
                                                        }
                                                    </ul>
                                                    <span class="tooltiptext">Show more options</span>
                                                </div>
                                                <span style="margin: 0px 5px 0px 5px" class="dutyStatusSpan pull-right">@p.Members[0].DutyStatus.DutyStatusName</span>
                                                <span style="margin: 0px 20px 0px 5px" class="raceGenderSpan pull-right">@p.Members[0].Race.Abbreviation/@p.Members[0].Gender.Abbreviation</span>
                                            </div>
                                        </div>
                                        if (p?.TempMembers?.Count() > 0)
                                        {
                                            uniquePositionId++;
                                            <div id="@uniquePositionId" data-positionid="@p.PositionId" data-parentcomponentid="@c.ComponentId" class="insertable">
                                                <div id="member-id-@p.TempMembers[0].MemberId" class="member tdy-member" draggable="true" data-memberId="@p.TempMembers[0].MemberId" data-tdy="true">

                                                    <span style="float:left;">
                                                        <span class="glyphicon glyphicon-option-vertical" style="float: left;color:#7d7b78"></span>
                                                        <img class="@p.TempMembers[0].Rank.PayGrade" src="@p.TempMembers[0].Rank.GetRankImageSource()" style="height:16px; width:16px; margin-right:5px" />
                                                        @p.TempMembers[0].GetTitleName()<small style="color:royalblue;"> (TDY from @p.TempMembers[0].TempPosition.ParentComponent.Name)</small>
                                                    </span>
                                                    <div class="pull-right moreOptionsButtonGroup" style="margin-left:20px; cursor:pointer">
                                                        <span class="glyphicon glyphicon-menu-hamburger moreOptions dropdown-toggle" data-memberId="@p.TempMembers[0].MemberId" type="button" data-toggle="dropdown"></span>
                                                        <ul class="dropdown-menu">
                                                            <li><span class="drag-options-edit" data-memberId="@p.TempMembers[0].MemberId"><i class="glyphicon glyphicon-pencil"></i> Edit Employee Info</span></li>
                                                            <li><span class="drag-options-tdy" data-memberId="@p.TempMembers[0].MemberId"><i class="glyphicon glyphicon-remove"></i> Cancel TDY</span></li>
                                                            <li><span class="drag-options-changestatus" data-memberId="@p.TempMembers[0].MemberId"><i class="glyphicon glyphicon-check"></i> Change Duty Status</span></li>
                                                        </ul>
                                                        <span class="tooltiptext">Show more options</span>
                                                    </div>
                                                    <span style="margin: 0px 5px 0px 5px" class="dutyStatusSpan pull-right">@p.TempMembers[0].DutyStatus.DutyStatusName</span>
                                                    <span style="margin: 0px 20px 0px 5px" class="raceGenderSpan pull-right">@p.TempMembers[0].Race.Abbreviation/@p.TempMembers[0].Gender.Abbreviation</span>
                                                </div>
                                            </div>
                                        }
                                    }
                                    else if (p?.TempMembers?.Count() > 0)
                                    {
                                        uniquePositionId++;
                                        <div id="@uniquePositionId" data-positionid="@p.PositionId" data-parentcomponentid="@c.ComponentId" class="insertable">
                                            <div id="member-id-@p.TempMembers[0].MemberId" class="member tdy-member" draggable="true" data-memberId="@p.TempMembers[0].MemberId" data-tdy="true">

                                                <span style="float:left;">
                                                    <span class="glyphicon glyphicon-option-vertical" style="float: left;color:#7d7b78"></span>
                                                    <img class="@p.TempMembers[0].Rank.PayGrade" src="@p.TempMembers[0].Rank.GetRankImageSource()" style="height:16px; width:16px; margin-right:5px" />
                                                    @p.TempMembers[0].GetTitleName() <small style="color:royalblue;"> (TDY from @p.TempMembers[0].Position.ParentComponent.Name)</small>
                                                </span>
                                                <div class="pull-right moreOptionsButtonGroup" style="margin-left:20px; cursor:pointer">
                                                    <span class="glyphicon glyphicon-menu-hamburger moreOptions dropdown-toggle" data-memberId="@p.TempMembers[0].MemberId" type="button" data-toggle="dropdown"></span>
                                                    <ul class="dropdown-menu">
                                                        <li><span class="drag-options-edit" data-memberId="@p.TempMembers[0].MemberId"><i class="glyphicon glyphicon-pencil"></i> Edit Employee Info</span></li>
                                                        <li><span class="drag-options-tdy" data-memberId="@p.TempMembers[0].MemberId"><i class="glyphicon glyphicon-remove"></i> Cancel TDY</span></li>
                                                        <li><span class="drag-options-changestatus" data-memberId="@p.TempMembers[0].MemberId"><i class="glyphicon glyphicon-check"></i> Change Duty Status</span></li>                                                        
                                                    </ul>
                                                    <span class="tooltiptext">Show more options</span>
                                                </div>
                                                <span style="margin: 0px 5px 0px 5px" class="dutyStatusSpan pull-right">@p.TempMembers[0].DutyStatus.DutyStatusName</span>
                                                <span style="margin: 0px 20px 0px 5px" class="raceGenderSpan pull-right">@p.TempMembers[0].Race.Abbreviation/@p.TempMembers[0].Gender.Abbreviation</span>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        uniquePositionId++;
                                        <div id="@uniquePositionId" data-positionid="@p.PositionId" data-parentcomponentid="@c.ComponentId" class="insertable">
                                            <div class="insertableInner">Drag & Drop or <span class="insertableInnerSelectMember" data-positionid="@p.PositionId">click to select member.</span></div>
                                        </div>
                                    }
                                </div>
                            </div>

                        }
                        else
                        {
                            <div class="nonUniquePositionWrapper" data-positionid="@p.PositionId">
                                <strong>@p.Name</strong><small> (Multiple Membership)</small>
                                <div class="editPositionButton" data-positionid="@p.PositionId">
                                    <span class="glyphicon glyphicon-pencil" data-positionid="@p.PositionId"></span>
                                    <span class="tooltiptext">Edit @p.Name</span>
                                </div>
                                <strong class="callSignSpan pull-right">@(p.Callsign != null ? p.Callsign : "No Callsign")</strong>
                                @if (p.Members.Count() > 0)
                                {
                                    <div class="form-group">
                                        <div class="members">
                                            @foreach (Member m in p.Members)
                                            {
                                                uniquePositionId++;
                                                <div id="@uniquePositionId" data-positionid="@p.PositionId" data-parentcomponentid="@c.ComponentId" class="insertable">
                                                    <div id="member-id-@m.MemberId" class="member" draggable="true" data-memberId="@m.MemberId">
                                                        <span style="float:left;">
                                                            <span class="glyphicon glyphicon-option-vertical" style="float: left;color:#7d7b78"></span>
                                                            <img class="@m.Rank.PayGrade" src="@m.Rank.GetRankImageSource()" style="height:16px; width:16px; margin-right:5px" />
                                                            @m.GetTitleName() <small style="color:orangered;">@(m.TempPositionId == null ? "" : $"(TDY to {m.TempPosition.ParentComponent.Name})" )</small>
                                                        </span>
                                                        <div class="pull-right moreOptionsButtonGroup" style="margin-left:20px; cursor:pointer">
                                                            <span class="glyphicon glyphicon-menu-hamburger moreOptions dropdown-toggle" data-memberId="@m.MemberId" type="button" data-toggle="dropdown"></span>
                                                            <ul class="dropdown-menu">
                                                                <li><span class="drag-options-edit" data-memberId="@m.MemberId"><i class="glyphicon glyphicon-pencil"></i> Edit Employee Info</span></li>
                                                                <li><span class="drag-options-reassign" data-memberId="@m.MemberId"><i class="glyphicon glyphicon-refresh"></i> Reassign Employee</span></li>
                                                                <li><span class="drag-options-changestatus" data-memberId="@m.MemberId"><i class="glyphicon glyphicon-check"></i> Change Duty Status</span></li>
                                                                @if (m.TempPositionId != null)
                                                                {
                                                                    <li><span class="drag-options-tdy" data-memberId="@m.MemberId"><i class="glyphicon glyphicon-remove"></i> Cancel TDY</span></li>
                                                                }
                                                            </ul>
                                                            <span class="tooltiptext">Show more options</span>
                                                        </div>
                                                        <span style="margin: 0px 5px 0px 5px" class="dutyStatusSpan pull-right">@m.DutyStatus.DutyStatusName</span>
                                                        <span style="margin: 0px 20px 0px 5px" class="raceGenderSpan pull-right">@m.Race.Abbreviation/@m.Gender.Abbreviation</span>
                                                    </div>
                                                </div>
                                            }
                                            @if (p?.TempMembers?.Count() > 0)
                                            {
                                                foreach (Member m in p.TempMembers)
                                                {
                                                    uniquePositionId++;
                                                    <div id="@uniquePositionId" data-positionid="@p.PositionId" data-parentcomponentid="@c.ComponentId" class="insertable">
                                                        <div id="member-id-@m.MemberId" class="member tdy-member" draggable="true" data-memberId="@m.MemberId" data-tdy="true">

                                                            <span style="float:left;">
                                                                <span class="glyphicon glyphicon-option-vertical" style="float: left;color:#7d7b78"></span>
                                                                <img class="@m.Rank.PayGrade" src="@m.Rank.GetRankImageSource()" style="height:16px; width:16px; margin-right:5px" />
                                                                @m.GetTitleName()<small style="color:royalblue;"> (TDY from @m.Position.ParentComponent.Name)</small>
                                                            </span>
                                                            <div class="pull-right moreOptionsButtonGroup" style="margin-left:20px; cursor:pointer">
                                                                <span class="glyphicon glyphicon-menu-hamburger moreOptions dropdown-toggle" data-memberId="@m.MemberId" type="button" data-toggle="dropdown"></span>
                                                                <ul class="dropdown-menu">
                                                                    <li><span class="drag-options-edit" data-memberId="@m.MemberId"><i class="glyphicon glyphicon-pencil"></i> Edit Employee Info</span></li>
                                                                    <li><span class="drag-options-tdy" data-memberId="@m.MemberId"><i class="glyphicon glyphicon-remove"></i> Cancel TDY</span></li>
                                                                    <li><span class="drag-options-changestatus" data-memberId="@m.MemberId"><i class="glyphicon glyphicon-check"></i> Change Duty Status</span></li>
                                                                </ul>
                                                                <span class="tooltiptext">Show more options</span>
                                                            </div>
                                                            <span style="margin: 0px 5px 0px 5px" class="dutyStatusSpan pull-right">@m.DutyStatus.DutyStatusName</span>
                                                            <span style="margin: 0px 20px 0px 5px" class="raceGenderSpan pull-right">@m.Race.Abbreviation/@m.Gender.Abbreviation</span>
                                                        </div>
                                                    </div>
                                                }
                                            }
                                        </div>
                                    </div>
                                    <!--Render an empty insertable so that a member can be added to the Non-Unique position-->
                                    <div class="form-group">
                                        <div class="members">
                                            @{uniquePositionId++;}
                                            <div id="@uniquePositionId" data-positionid="@p.PositionId" data-parentcomponentid="@c.ComponentId" class="insertable">
                                                <div class="insertableInner">Drag & Drop or <span class="insertableInnerSelectMember" data-positionid="@p.PositionId">click to select member.</span></div>
                                            </div>
                                        </div>
                                    </div>
                                }
                                else if (p?.TempMembers?.Count > 0)
                                {
                                    <div class="form-group">
                                        <div class="members">
                                            @foreach (Member m in p.TempMembers)
                                            {
                                            uniquePositionId++;
                                            <div id="@uniquePositionId" data-positionid="@p.PositionId" data-parentcomponentid="@c.ComponentId" class="insertable">
                                                <div id="member-id-@m.MemberId" class="member tdy-member" draggable="true" data-memberId="@m.MemberId" data-tdy="true">

                                                    <span style="float:left;">
                                                        <span class="glyphicon glyphicon-option-vertical" style="float: left;color:#7d7b78"></span>
                                                        <img class="@m.Rank.PayGrade" src="@m.Rank.GetRankImageSource()" style="height:16px; width:16px; margin-right:5px" />
                                                        @m.GetTitleName()<small style="color:royalblue;"> (TDY from @m.Position.ParentComponent.Name)</small>
                                                    </span>
                                                    <div class="pull-right moreOptionsButtonGroup" style="margin-left:20px; cursor:pointer">
                                                        <span class="glyphicon glyphicon-menu-hamburger moreOptions dropdown-toggle" data-memberId="@m.MemberId" type="button" data-toggle="dropdown"></span>
                                                        <ul class="dropdown-menu">
                                                            <li><span class="drag-options-edit" data-memberId="@m.MemberId"><i class="glyphicon glyphicon-pencil"></i> Edit Employee Info</span></li>
                                                            <li><span class="drag-options-tdy" data-memberId="@m.MemberId"><i class="glyphicon glyphicon-remove"></i> Cancel TDY</span></li>
                                                            <li><span class="drag-options-changestatus" data-memberId="@m.MemberId"><i class="glyphicon glyphicon-check"></i> Change Duty Status</span></li>
                                                        </ul>
                                                        <span class="tooltiptext">Show more options</span>
                                                    </div>
                                                    <span style="margin: 0px 5px 0px 5px" class="dutyStatusSpan pull-right">@m.DutyStatus.DutyStatusName</span>
                                                    <span style="margin: 0px 20px 0px 5px" class="raceGenderSpan pull-right">@m.Race.Abbreviation/@m.Gender.Abbreviation</span>
                                                </div>
                                            </div>
                                            }
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="members">
                                                @{uniquePositionId++;}
                                                <div id="@uniquePositionId" data-positionid="@p.PositionId" data-parentcomponentid="@c.ComponentId" class="insertable">
                                                    <div class="insertableInner">Drag & Drop or <span class="insertableInnerSelectMember" data-positionid="@p.PositionId">click to select member.</span></div>
                                                </div>
                                            </div>
                                        </div>
                                        }
                                        else
                                        {
                                        <div class="form-group">
                                            <div class="members">
                                                @{uniquePositionId++;}
                                                <div id="@uniquePositionId" data-positionid="@p.PositionId" data-parentcomponentid="@c.ComponentId" class="insertable">
                                                    <div class="insertableInner">Drag & Drop or <span class="insertableInnerSelectMember" data-positionid="@p.PositionId">click to select member.</span></div>
                                                </div>
                                            </div>
                                        </div>
                                        }
                                    </div>
                                    }
                                }
                                <div class="newPositionInsert" data-componentid="@c.ComponentId"></div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group" id="demographicsgroup_@c.ComponentId">
                                        @c.GetDemographicTableForComponentAndChildren()
                                    </div>
                                </div>
                    </div>
                </div>
            </div>

}

