@model AdminComponentIndexListViewModel

<div class="container">
    <form asp-page="/Index" method="get" class="navbar-form navbar-search adminPageHeader">
        <div class="form-group">
            <div class="input-group">
                <input type="text" style="z-index:0;" name="SearchString" class="bigControl searchBox form-control" value="@Model.CurrentFilter" placeholder="Search Components" />
                <div class="input-group-btn">
                    <button class="btn btn-search-addon" style="z-index:0;" type="submit">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </div>
            </div>
        </div>
        @{
            if (Model.CurrentFilter != null)
            {
                <a asp-page="/ComnponentIndex"><i class="ion-md-arrow-round-back"></i> Back to full List</a><span> | </span>
            }
        }
        <a asp-action="Create" asp-controller="Components" asp-route-returnUrl="/Admin/ComponentIndex"><i class="glyphicon glyphicon-plus"></i>Create a New Component</a>
    </form>
</div>

<div>
    @if (ViewBag.Status == "Success!")
    {
        <div class="indexAlertWrapper">
            <div class="alert alert-success alert-dismissible fade in">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Success!</strong>
                <span>@ViewBag.Message</span>
            </div>
        </div>

    }
    else if (Model.CurrentFilter != null)
    {
        <div class="indexAlertWrapper">
            <div class="alert alert-primary alert-dismissible fade in">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Message:</strong>
                <span>Found @Model.PagingInfo.TotalItems Members that match '@Model.CurrentFilter'</span>
            </div>
        </div>
    }
    @if (Model.Components.Count() > 0)
    {
        <div class="table-responsive">
            <table class="table indexTable table-condensed">
                <thead>
                    <tr class="tablePageControlHeaderRow">
                        <th colspan="11">
                            <div page-model="@Model.PagingInfo" page-action="ComponentIndex" page-classes-enabled="true"
                                 page-class="" page-class-normal=""
                                 page-class-selected="active" page-url-searchString="@Model.CurrentFilter" page-url-sortOrder="@Model.CurrentSort"
                                 class="btn-group">
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <a asp-page="/ComponentIndex" asp-route-sortOrder="@Model.NameSort"
                               asp-route-searchString="@Model.CurrentFilter" title="Sort by Component Name">
                                Component Name
                                @if (Model.CurrentSort == "name_desc")
                                {
                                    <span class="glyphicon glyphicon-sort-by-alphabet"></span>
                                }
                                else
                                {
                                    <span class="glyphicon glyphicon-sort-by-alphabet-alt"></span>
                                }
                            </a>
                        </th>
                        <th>
                            <a asp-page="/ComponentIndex" asp-route-sortOrder="@Model.ParentComponentNameSort"
                               asp-route-searchString="@Model.CurrentFilter" title="Sort by Parent Component Name">
                                Parent Component
                                @if (Model.CurrentSort == "parentName_desc")
                                {
                                    <span class="glyphicon glyphicon-sort-by-alphabet"></span>
                                }
                                else
                                {
                                    <span class="glyphicon glyphicon-sort-by-alphabet-alt"></span>
                                }
                            </a>
                        </th>
                        <th>
                            Acronym
                        </th>
                        <th>
                            Manager
                        </th>
                        <th style="text-align:center">
                            Children
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Components)
                    {
                        <tr>
                            <td>
                                @item.ComponentName
                            </td>
                            <td>
                                @item.ParentComponentName
                            </td>
                            <td>
                                @item.Acronym
                            </td>
                            <td>
                                @item.ManagerName
                            </td>
                            <td style="text-align:center">
                                @item.ChildrenCount
                            </td>
                            <td>
                                <a asp-action="Details" asp-controller="Components" asp-route-id="@item.ComponentId" asp-route-returnUrl="/Admin/ComponentIndex" title="View Details" class="glyphicon-ring">
                                    <span class="glyphicon glyphicon-list-alt glyphicon-bordered"></span>
                                </a>
                                <a asp-action="Edit" asp-controller="Components" asp-route-id="@item.ComponentId" asp-route-returnUrl="/Admin/ComponentIndex" title="Edit Member" class="glyphicon-ring">
                                    <span class="glyphicon glyphicon-pencil glyphicon-bordered"></span>
                                </a>
                                <a asp-action="Delete" asp-controller="Components" asp-route-id="@item.ComponentId" asp-route-returnUrl="/Admin/ComponentIndex" title="Delete Member" class="glyphicon-ring">
                                    <span class="glyphicon glyphicon-trash glyphicon-bordered"></span>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    }
    else
    {
        <div style="max-width: 95%; margin: auto">
            <a asp-action="ComponentIndex" class="">Go Back to Full List</a>
        </div>
    }
</div>

<script>
    // close any alert after 3 seconds
    window.setTimeout(function () {
        $(".alert").fadeTo(500, 0).slideUp(500, function () {
            $(this).remove();
        });
    }, 3000);
</script>
