@model IEnumerable<BlueDeck.Models.Enums.DutyStatus>

<div class="container" style="padding-top:10px; padding-bottom:10px">
    <a asp-action="Create" asp-controller="DutyStatus" asp-route-returnUrl="/Admin/DutyStatusIndex"><i class="glyphicon glyphicon-plus"></i>Create a New Status</a>
</div>
<div>
    @if (ViewBag.Status == "Success!")
    {
        <div class="indexAlertWrapper">
            <div class="alert alert-success alert-dismissible fade in">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Success!</strong>
                <span>@ViewBag.Message</span>
            </div>
        </div>

    }
    @if (Model.Count() > 0)
    {
        <div class="table-responsive">
            <table class="table indexTable table-condensed">
                <thead>
                    <tr>
                        <th>
                            Status
                        </th>
                        <th style="text-align:center">
                            Duty Status Id
                        </th>
                        <th style="text-align:center">
                            Has Police Power
                        </th>
                        <th style="text-align:center">
                            Exception To Normal Duty
                        </th>
                        <th style="text-align:center">
                            Abbreviation
                        </th>
                        <th style="text-align:center">
                            Members in Status
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            @item.DutyStatusName
                        </td>
                        <td style="text-align:center">
                            @item.DutyStatusId
                        </td>
                        <td style="text-align:center">
                            @Html.DisplayFor(modelItem => item.HasPolicePower)
                        </td>
                        <td style="text-align:center">
                            @Html.DisplayFor(modelItem => item.IsExceptionToNormalDuty)
                        </td>
                        <td style="text-align:center">
                            @item.Abbreviation
                        </td>
                        <td style="text-align:center">
                            @item.Members.Count()
                        </td>
                        <td style="text-align:center">
                            <a asp-action="Details" asp-controller="DutyStatus" asp-route-id="@item.DutyStatusId" asp-route-returnUrl="/Admin/DutyStatusIndex" title="View Details" class="glyphicon-ring">
                                <span class="glyphicon glyphicon-list-alt glyphicon-bordered"></span>
                            </a>
                            <a asp-action="Edit" asp-controller="DutyStatus" asp-route-id="@item.DutyStatusId" asp-route-returnUrl="/Admin/DutyStatusIndex" title="Edit Status" class="glyphicon-ring">
                                <span class="glyphicon glyphicon-pencil glyphicon-bordered"></span>
                            </a>
                            <a asp-action="Delete" asp-controller="DutyStatus" asp-route-id="@item.DutyStatusId" asp-route-returnUrl="/Admin/DutyStatusIndex" title="Delete Status" class="glyphicon-ring">
                                <span class="glyphicon glyphicon-trash glyphicon-bordered"></span>
                            </a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</div>

<script>
    // close any alert after 3 seconds
    window.setTimeout(function () {
        $(".alert").fadeTo(500, 0).slideUp(500, function () {
            $(this).remove();
        });
    }, 3000);
</script>