@model AdminVehicleIndexListViewModel



<div class="container">
    <form asp-page="/Index" method="get" class="navbar-form navbar-search adminPageHeader">
        <div class="form-group">
            <div class="input-group">
                <input type="text" style="z-index:0;" name="SearchString" class="bigControl searchBox form-control" value="@Model.CurrentFilter" placeholder="Search Vehicles" />
                <div class="input-group-btn">
                    <button class="btn btn-search-addon" style="z-index:0;" type="submit">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </div>
            </div>
        </div>
        @{
            if (Model.CurrentFilter != null)
            {
                <a asp-page="/VehicleIndex"><i class="ion-md-arrow-round-back"></i> Back to full List</a><span> | </span>
            }
        }
        <a asp-action="Create" asp-controller="Vehicles" asp-route-returnUrl="/Admin/VehicleIndex"><i class="glyphicon glyphicon-plus"></i>Create a New Vehicle</a>
    </form>
</div>

<div>
    @if (ViewBag.Status == "Success!")
    {
        <div class="indexAlertWrapper">
            <div class="alert alert-success alert-dismissible fade in">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Success!</strong>
                <span>@ViewBag.Message</span>
            </div>
        </div>

    }
    else if (Model.CurrentFilter != null)
    {
        <div class="indexAlertWrapper">
            <div class="alert alert-primary alert-dismissible fade in">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Message:</strong>
                <span>Found @Model.PagingInfo.TotalItems Vehicles that match '@Model.CurrentFilter'</span>
            </div>
        </div>
    }
    @if (Model.Vehicles.Count() > 0)
    {

        <div class="table-responsive">
            <table class="table indexTable table-condensed">
                <thead>
                    <tr class="tablePageControlHeaderRow">
                        <th colspan="10">
                            <div page-model="@Model.PagingInfo" page-action="PositionIndex" page-classes-enabled="true"
                                 page-class="" page-class-normal=""
                                 page-class-selected="active" page-url-searchString="@Model.CurrentFilter" page-url-sortOrder="@Model.CurrentSort"
                                 class="btn-group">
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            VehicleId
                        </th>
                        <th style="text-align:center;">
                            CruiserNumber
                        </th>
                        <th style="text-align:center;">
                            Model Year
                        </th>
                        <th>
                            <a asp-page="/VehicleIndex" asp-route-sortOrder="@Model.ModelNameSort"
                               asp-route-searchString="@Model.CurrentFilter" title="Sort by Model Name">
                                Model
                                @if (Model.CurrentSort == "modelName_desc")
                                {
                                    <span class="glyphicon glyphicon-sort-by-alphabet"></span>
                                }
                                else
                                {
                                    <span class="glyphicon glyphicon-sort-by-alphabet-alt"></span>
                                }
                            </a>
                        </th>
                        <th>
                            <a asp-page="/VehicleIndex" asp-route-sortOrder="@Model.ManufacturerNameSort"
                               asp-route-searchString="@Model.CurrentFilter" title="Sort by Manufacturer Name">
                                Make
                                @if (Model.CurrentSort == "manufacturerName_desc")
                                {
                                    <span class="glyphicon glyphicon-sort-by-alphabet"></span>
                                }
                                else
                                {
                                    <span class="glyphicon glyphicon-sort-by-alphabet-alt"></span>
                                }
                            </a>
                        </th>
                        <th style="text-align:center;">
                            Tag
                        </th>
                        <th style="text-align:center;">
                            Marked
                        </th>
                        <th style="text-align:center">
                            MVS
                        </th>
                        <th style="text-align:center">
                            MDT
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Vehicles)
                    {
                    <tr>
                        <td>
                            @item.VehicleId
                        </td>
                        <td style="text-align:center;">
                            @item.CruiserNumber
                        </td>
                        <td style="text-align:center;">
                            @item.ModelYear
                        </td>
                        <td>
                            @item.Model.VehicleModelName
                        </td>
                        <td>
                            @item.Model.Manufacturer.VehicleManufacturerName
                        </td>
                        <td style="text-align:center;">
                            @item.TagNumber
                        </td>
                        <td style="text-align:center;">
                            @Html.DisplayFor(modelItem => item.IsMarked)
                        </td>
                        <td style="text-align:center">
                            @Html.DisplayFor(modelItem => item.HasMVS)
                        </td>
                        <td style="text-align:center">
                            @Html.DisplayFor(modelItem => item.HasMDT)
                        </td>
                        <td>
                            <a asp-controller="Vehicles" asp-action="Edit" asp-route-id="@item.VehicleId" asp-route-returnUrl="/Admin/VehicleIndex" title="Edit Vehicle" class="glyphicon-ring">
                                <span class="glyphicon glyphicon-pencil glyphicon-bordered"></span>
                            </a>
                            <a asp-controller="Vehicles" asp-action="Details" asp-route-id="@item.VehicleId" asp-route-returnUrl="/Admin/VehicleIndex" title="View Details" class="glyphicon-ring">
                                <span class="glyphicon glyphicon-list-alt glyphicon-bordered"></span>
                            </a>
                            <a asp-controller="Vehicles" asp-action="Delete" asp-route-id="@item.VehicleId" asp-route-returnUrl="/Admin/VehicleIndex" title="Delete Vehicle" class="glyphicon-ring">
                                <span class="glyphicon glyphicon-trash glyphicon-bordered"></span>
                            </a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <div style="max-width: 95%; margin: auto">
            <a asp-action="VehicleIndex" class="">Go Back to Full List</a>
        </div>
    }
</div>

<script>
    // close any alert after 3 seconds
    window.setTimeout(function () {
        $(".alert").fadeTo(500, 0).slideUp(500, function () {
            $(this).remove();
        });
    }, 3000);
</script>