@model AdminVehicleManufacturerIndexListViewModel

<div class="container">
    <form asp-page="/Index" method="get" class="navbar-form navbar-search adminPageHeader">
        <div class="form-group">
            <div class="input-group">
                <input type="text" style="z-index:0;" name="SearchString" class="bigControl searchBox form-control" value="@Model.CurrentFilter" placeholder="Search Manufacturers" />
                <div class="input-group-btn">
                    <button class="btn btn-search-addon" style="z-index:0;" type="submit">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </div>
            </div>
        </div>
        @{
            if (Model.CurrentFilter != null)
            {
                <a asp-page="/VehicleManufacturerIndex"><i class="ion-md-arrow-round-back"></i> Back to full List</a><span> | </span>
            }
        }
        <a asp-action="Create" asp-controller="VehicleManufacturers" asp-route-returnUrl="/Admin/VehicleManufacturerIndex"><i class="glyphicon glyphicon-plus"></i>Create a New Manufacturer</a>
    </form>
</div>
<div>
    @if (ViewBag.Status == "Success!")
    {
        <div class="indexAlertWrapper">
            <div class="alert alert-success alert-dismissible fade in">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Success!</strong>
                <span>@ViewBag.Message</span>
            </div>
        </div>

    }
    @if (Model.VehicleManufacturers.Count() > 0)
    {
        <div class="table-responsive">
            <table class="table indexTable table-condensed">
                <thead>
                    <tr class="tablePageControlHeaderRow">
                        <th colspan="10">
                            <div page-model="@Model.PagingInfo" page-action="VehicleManufacturerIndex" page-classes-enabled="true"
                                 page-class="" page-class-normal=""
                                 page-class-selected="active" page-url-searchString="@Model.CurrentFilter" page-url-sortOrder="@Model.CurrentSort"
                                 class="btn-group">
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            ManufacturerId
                        </th>
                        <th>
                            Name
                        </th>
                        <th style="text-align:center;">
                            Models
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.VehicleManufacturers)
                    {
                        <tr>
                            <td>
                                @item.VehicleManufacturerId
                            </td>
                            <td>
                                @item.VehicleManufacturerName
                            </td>
                            <td style="text-align:center;">
                                @(item?.Models?.Count() ?? 0)
                            </td>
                            <td style="text-align:center">
                                <a asp-action="Details" asp-controller="VehicleManufacturers" asp-route-id="@item.VehicleManufacturerId" asp-route-returnUrl="/Admin/VehicleManufacturerIndex" title="View Details" class="glyphicon-ring">
                                    <span class="glyphicon glyphicon-list-alt glyphicon-bordered"></span>
                                </a>
                                <a asp-action="Edit" asp-controller="VehicleManufacturers" asp-route-id="@item.VehicleManufacturerId" asp-route-returnUrl="/Admin/VehicleManufacturerIndex" title="Edit Manufacturer" class="glyphicon-ring">
                                    <span class="glyphicon glyphicon-pencil glyphicon-bordered"></span>
                                </a>
                                <a asp-action="Delete" asp-controller="VehicleManufacturers" asp-route-id="@item.VehicleManufacturerId" asp-route-returnUrl="/Admin/VehicleManufacturerIndex" title="Delete Manufacturer" class="glyphicon-ring">
                                    <span class="glyphicon glyphicon-trash glyphicon-bordered"></span>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    }
</div>

<script>
    // close any alert after 3 seconds
    window.setTimeout(function () {
        $(".alert").fadeTo(500, 0).slideUp(500, function () {
            $(this).remove();
        });
    }, 3000);
</script>