@model MemberIndexListViewModel

<div class="headerContainer">
    <h3>Members Index</h3>
    <p>
        <a asp-action="Create"><span class="glyphicon glyphicon-plus" style="margin-right:2px"></span>Create a New Member</a>
    </p>
    <form asp-page="/Index" method="get">
        <div class="form-actions no-color">
            <p>
                Find:
                <input type="text" name="SearchString" class="bigControl" value="@Model.CurrentFilter" />
                <input type="submit" value="Search" class="btn btn-default" /> |
                <a asp-page="/Index"><span class="glyphicon glyphicon-refresh" style="margin-right:2px"></span>Back to full List</a>
            </p>
        </div>
    </form>
</div>
<h6 class="text-danger">@ViewBag.Message</h6>

<table class="table indexTable">
    <thead>
        <tr>
            <th>
                <a asp-page="/Index" asp-route-sortOrder="@Model.MemberLastNameSort"
                   asp-route-searchString="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.Members.First().LastName)
                    @if (Model.CurrentSort == "lastName_desc")
                    {
                        <span class="glyphicon glyphicon-sort-by-alphabet"></span>
                    }
                    else
                    {
                        <span class="glyphicon glyphicon-sort-by-alphabet-alt"></span>
                    }
                </a>
            </th>
            <th>
                <a asp-page="/Index" asp-route-sortOrder="@Model.MemberFirstNameSort"
                   asp-route-searchString="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.Members.First().FirstName)
                    @if (Model.CurrentSort == "firstName_desc")
                    {
                        <span class="glyphicon glyphicon-sort-by-alphabet"></span>
                    }
                    else
                    {
                        <span class="glyphicon glyphicon-sort-by-alphabet-alt"></span>
                    }
                </a>
            </th>
            <th>
                <a asp-page="/Index" asp-route-sortOrder="@Model.IdNumberSort"
                   asp-route-searchString="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.Members.First().IdNumber)
                </a>
            </th>
            <th>
                <a asp-page="/Index" asp-route-sortOrder="@Model.PositionNameSort"
                   asp-route-searchString="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.Members.First().PositionName)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Members.First().Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Members)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PositionName)
            </td>
            <td>
                <a href="mailto:@item.Email" target="_top">
                    @Html.DisplayFor(modelItem => item.Email)
                </a>
</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MemberId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MemberId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MemberId">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
