@model BlueDeck.Models.Enums.Race
@{
    bool canDelete = Model.Members.Count() > 0 ? false : true;
}

<div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 formContainer">
    @if (ViewBag.Status == "Warning!")
    {
        <div class="alert alert-danger">
            <strong>@ViewBag.Status</strong> @ViewBag.Message
        </div>
    }
    <div class="formHeader">
        <h4 class="formHeader-heading"><strong>Delete Race</strong></h4>
        @if (canDelete)
        {
            <p class="formHeader-description">
                Are you certain that you want to delete @Model.MemberRaceFullName? This action cannot be undone.
            </p>
        }
        else
        {
            <p class="formHeader-description">
                There are @Model.Members.Count() Members currently assigned this race. You cannot delete a race with active Members.
            </p>
        }
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-3 form-group">
                    @Html.LabelFor(model => model.MemberRaceId, new { @class = "control-label" })<br />
                    @Html.DisplayFor(model => model.MemberRaceId, new { @class = "form-control", disabled = "disabled" })
                </div>
                <div class="col-md-5 form-group">
                    @Html.LabelFor(model => model.MemberRaceFullName, new { @class = "control-label" })<br />
                    @Html.DisplayFor(model => model.MemberRaceFullName, new { @class = "form-control", disabled = "disabled" })
                </div>
                <div class="col-md-2 form-group">
                    @Html.LabelFor(model => model.Abbreviation, new { @class = "control-label" })<br />
                    @Html.DisplayFor(model => model.Abbreviation, new { @class = "form-control", disabled = "disabled" })
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-sm-12 form-group">
                    <form asp-action="Delete" asp-route-returnUrl="@ViewBag.ReturnUrl">
                        <input type="hidden" asp-for="MemberRaceId" />
                        <a href="@ViewBag.ReturnUrl" class="btn btn-default">Cancel</a>
                        <a asp-action="Edit" asp-route-id="@Model.MemberRaceId" asp-route-returnUrl="@ViewBag.ReturnUrl" class="btn btn-primary">Edit</a>
                        @if (canDelete)
                        {
                            <input type="submit" value="Delete" class="btn btn-danger pull-right" />
                        }
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>