@model PositionIndexListViewModel
@{
    ViewData["Title"] = "BlueDeck Position Index";
}
<nav class="pageBar navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <span class="navbar-brand">Position Index</span>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>
        <div class="navbar-header pull-left">
            <form asp-page="/Index" method="get" class="navbar-form navbar-search">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" name="SearchString" class="bigControl searchBox form-control" value="@Model.CurrentFilter" placeholder="Search Positions" />
                            <div class="input-group-btn">
                                <button class="btn btn-search-addon" type="submit">
                                    <i class="glyphicon glyphicon-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
            </form>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                @{
                    if (Model.CurrentFilter != null)
                    {
                        <li><a asp-page="/Index"><i class="ion-md-arrow-round-back"></i> Back to full List</a></li>
                    }
                }
                <li><a asp-action="Create"><span class="glyphicon glyphicon-plus" style="margin-right:2px"></span>Create a New Position</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<h6 class="text-danger">@ViewBag.Message</h6>

<div class="table-responsive" style="margin-top: 70px">
    <table class="table indexTable">
        <thead>
            <tr>
                <th>
                    <a asp-page="/Index" asp-route-sortOrder="@Model.PositionNameSort"
                       asp-route-searchString="@Model.CurrentFilter" title="Sort by Position Name">
                        @Html.DisplayNameFor(model => model.Positions.First().PositionName)
                        @if (Model.CurrentSort == "name_desc")
                        {
                            <span class="glyphicon glyphicon-sort-by-alphabet"></span>
                        }
                        else
                        {
                            <span class="glyphicon glyphicon-sort-by-alphabet-alt"></span>
                        }
                    </a>
                </th>
                <th>
                    <a asp-page="/Index" asp-route-sortOrder="@Model.ParentComponentNameSort"
                       asp-route-searchString="@Model.CurrentFilter" title="Sort by Parent Component Name">
                        @Html.DisplayNameFor(model => model.Positions.First().ParentComponentName)
                        @if (Model.CurrentSort == "parentName_desc")
                        {
                            <span class="glyphicon glyphicon-sort-by-alphabet"></span>
                        }
                        else
                        {
                            <span class="glyphicon glyphicon-sort-by-alphabet-alt"></span>
                        }
                    </a>
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Positions.First().IsUnique)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Positions.First().JobTitle)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Positions.First().IsManager)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Positions.First().MembersCount)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Positions)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.PositionName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ParentComponentName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsUnique)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.JobTitle)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsManager)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MembersCount)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.PositionId" title="Edit Position" class="glyphicon-ring">
                            <span class="glyphicon glyphicon-pencil glyphicon-bordered"></span>
                        </a> 
                        <a asp-action="Details" asp-route-id="@item.PositionId" title="View Details" class="glyphicon-ring">
                            <span class="glyphicon glyphicon-list-alt glyphicon-bordered"></span>
                        </a> 
                        <a asp-action="Delete" asp-route-id="@item.PositionId" title="Delete Position" class="glyphicon-ring">
                            <span class="glyphicon glyphicon-trash glyphicon-bordered"></span>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

