@model OrgChartDemo.Models.PhoneNumberType


<div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 formContainer">
    <div class="formHeader">
        <h2 class="formHeader-heading">Confirm Delete</h2>
        <p class="formHeader-description">
            Are you certain that you want to delete @Model.PhoneNumberTypeName? This action cannot be undone.
        </p>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-3 form-group">
                        @Html.LabelFor(model => model.PhoneNumberTypeId, new { @class = "control-label" })<br />
                        @Html.DisplayFor(model => model.PhoneNumberTypeId, new { @class = "form-control", disabled = "disabled" })
                    </div>
                    <div class="col-md-5 form-group">
                        @Html.LabelFor(model => model.PhoneNumberTypeName, new { @class = "control-label" })<br />
                        @Html.DisplayFor(model => model.PhoneNumberTypeName, new { @class = "form-control", disabled = "disabled" })
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-sm-12 form-group">
                        <form asp-action="Delete" asp-route-returnUrl="@ViewBag.ReturnUrl">
                            <input type="hidden" asp-for="PhoneNumberTypeId" />
                            <a href="@ViewBag.ReturnUrl" class="btn btn-default">Cancel</a>
                            <a asp-action="Edit" asp-route-id="@Model.PhoneNumberTypeId" asp-route-returnUrl="@ViewBag.ReturnUrl" class="btn btn-primary">Edit</a>
                            <input type="submit" value="Delete" class="btn btn-danger pull-right" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>