@model RosterManagerViewComponentViewModel
@{ var uniquePositionId = 0;}
@foreach (RosterManagerViewModelComponent c in Model.ComponentList)
{
<div class="componentContainer-nested-@c.NestedLevel componentContainer container" data-componentid="@c.ComponentId">
    <div class="componentHeaderDiv">
        <p class="headerSpan">@c.Name <span class="glyphicon glyphicon-expand" data></span></p>        
    </div>
    
    <div class="row" id="componentDetail" data-componentid="@c.ComponentId">
        <div class="col-md-6">
            @foreach (Position p in c.Positions.OrderBy(x => x.LineupPosition))
            {
                if (p.IsUnique)
                {
                <div class="form-group">
                    <strong>@p.Name</strong><small> @(p.IsManager ? "(Component Supervisor)" : "(Unique Position)")</small>
                    <div class="editPositionButton" data-positionid="@p.PositionId">
                        <span class="glyphicon glyphicon-pencil" data-positionid="@p.PositionId"></span>
                        <span class="tooltiptext">Edit @p.Name</span>
                    </div>
                    <div class="members">
                        @if (p.Members.Count() > 0)
                        {
                            uniquePositionId++;
                            <div id="@uniquePositionId" data-positionid="@p.PositionId" data-parentcomponentid="@c.ComponentId" class="insertable">
                                <div id="member-id-@p.Members[0].MemberId" class="member" draggable="true" data-memberId="@p.Members[0].MemberId">
                                    <img class="@p.Members[0].Rank.PayGrade" src="~/lib/bluedeck/css/@p.Members[0].Rank.GetRankImageSource()" style="height:16px; width:16px; margin-right:5px" />
                                    @p.Members[0].GetTitleName()
                                    <div class="pull-right moreOptionsButtonGroup" style="margin-left:20px; cursor:pointer">
                                        <span class="glyphicon glyphicon-option-vertical moreOptions" data-memberId="@p.Members[0].MemberId"></span>
                                        <span class="tooltiptext">Show more options</span>
                                    </div>
                                    <span style="margin: 0px 5px 0px 5px" class="pull-right">@p.Members[0].DutyStatus.DutyStatusName</span>
                                    <span style="margin: 0px 20px 0px 5px" class="pull-right">@p.Members[0].Race.Abbreviation/@p.Members[0].Gender.Abbreviation</span>
                                    <div class="drag-options" id="options_@p.Members[0].MemberId">
                                        <label class="drag-options-label">
                                            <a href="#" class="drag-options-edit" data-memberId="@p.Members[0].MemberId">Edit Employee Info</a><br />
                                            <a href="#" class="drag-options-reassign" data-memberId="@p.Members[0].MemberId">Reassign Employee</a><br />
                                            <a href="#" class="drag-options-changestatus" data-memberId="@p.Members[0].MemberId">Change Duty Status</a><br />
                                        </label>
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            uniquePositionId++;
                            <div id="@uniquePositionId" data-positionid="@p.PositionId" data-parentcomponentid="@c.ComponentId" class="insertable">
                                <div class="insertableInner">Drag & Drop or <span class="insertableInnerSelectMember" data-positionid="@p.PositionId">click to select member.</span></div>
                            </div>
                        }
                    </div>
                </div>

                }
                else
                {
                    <div class="nonUniquePositionWrapper" data-positionid="@p.PositionId">
                        <strong>@p.Name</strong><small> (Multiple Membership)</small>
                        <div class="editPositionButton" data-positionid="@p.PositionId">
                            <span class="glyphicon glyphicon-pencil" data-positionid="@p.PositionId"></span>
                            <span class="tooltiptext">Edit @p.Name</span>
                        </div>
                        @if (p.Members.Count() > 0)
                        {
                            foreach (Member m in p.Members)
                            {
                                <div class="form-group">
                                    <div class="members">
                                        @{uniquePositionId++;}
                                        <div id="@uniquePositionId" data-positionid="@p.PositionId" data-parentcomponentid="@c.ComponentId" class="insertable">
                                            <div id="member-id-@m.MemberId" class="member" draggable="true" data-memberId="@m.MemberId">
                                                <img class="@m.Rank.PayGrade" src="~/lib/bluedeck/css/@m.Rank.GetRankImageSource()" style="height:16px; width:16px; margin-right:5px" />
                                                @m.GetTitleName()
                                                <div class="pull-right moreOptionsButtonGroup" style="margin-left:20px; cursor:pointer">
                                                    <span class="glyphicon glyphicon-option-vertical moreOptions" data-memberId="@m.MemberId"></span>
                                                    <span class="tooltiptext">Show more options</span>
                                                </div>
                                                <span style="margin: 0px 5px 0px 5px" class="pull-right">@m.DutyStatus.DutyStatusName</span>
                                                <span style="margin: 0px 20px 0px 5px" class="pull-right">@m.Race.Abbreviation/@m.Gender.Abbreviation</span>
                                                <div class="drag-options" id="options_@m.MemberId">
                                                    <label class="drag-options-label">
                                                        <a href="#" class="drag-options-edit" data-memberId="@m.MemberId">Edit Employee Info</a><br />
                                                        <a href="#" class="drag-options-reassign" data-memberId="@m.MemberId">Reassign Employee</a><br />
                                                        <a href="#" class="drag-options-changestatus" data-memberId="@m.MemberId">Change Duty Status</a><br />
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            <!--Render an empty insertable so that a member can be added to the Non-Unique position-->
                            <div class="form-group">
                                <div class="members">
                                    @{uniquePositionId++;}
                                    <div id="@uniquePositionId" data-positionid="@p.PositionId" data-parentcomponentid="@c.ComponentId" class="insertable">
                                        <div class="insertableInner">Drag & Drop or <span class="insertableInnerSelectMember" data-positionid="@p.PositionId">click to select member.</span></div>
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="form-group">
                                <div class="members">
                                    @{uniquePositionId++;}
                                    <div id="@uniquePositionId" data-positionid="@p.PositionId" data-parentcomponentid="@c.ComponentId" class="insertable">
                                        <div class="insertableInner">Drag & Drop or <span class="insertableInnerSelectMember" data-positionid="@p.PositionId">click to select member.</span></div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                }
            }

            <div class="newPositionInsert" data-componentid="@c.ComponentId"></div>
            <div style="padding: 10px 0 5px 10px">
                <div style="font-weight:bold" id="addNewPositionButton" data-componentid="@c.ComponentId">
                    <span class="glyphicon glyphicon-plus"></span> Add New Position to @c.Name
                </div>
            </div>
        </div>
         <div class="col-md-6">
            <div class="form-group" id="demographicsgroup_@c.ComponentId">                
                @c.GetDemographicTableForComponentAndChildren()
            </div>
        </div>
    </div>

</div>
    
    <br />
}

