@model List<OrgChartDemo.Models.Component>
@{ var uniquePositionId = 0;}
@foreach (Component c in Model)
{
    <div class="componentContainer" data-componentid="@c.ComponentId">
        <h4>@c.Name</h4>
        <table style="width: 100%">
            <tr class="row justify-content-md-right">
                <th class="col-xs-3">Position</th>
                <th class="col-xs-6">Member</th>
            </tr>
            @foreach (Position p in c.Positions)
            {
                if (p.IsUnique)
                {
                    <tr class="row row justify-content-md-right">
                        <td class="col-md-2">@p.Name</td>
                        <td class="members col-md-3">
                            @if (p.Members.Count() > 0)
                            {
                                uniquePositionId++;
                                <div id="@uniquePositionId" data-positionid="@p.PositionId" class="insertable">
                                    <span id="member-id-@p.Members[0].MemberId" class="member" draggable="true">
                                        <img class="@p.Members[0].Rank.PayGrade" style="height:16px; width:16px; margin-right:5px" />
                                        @p.Members[0].GetTitleName()
                                        <a href="#" class="pull-right">
                                            <span class="glyphicon glyphicon-option-vertical"></span>
                                        </a>
                                    </span>
                                </div>
                            }
                            else
                            {
                                uniquePositionId++;
                                <div id="@uniquePositionId" data-positionid="@p.PositionId" class="insertable"></div>
                            }
                        </td>
                    </tr>
                }
                else
                {
                    @if (p.Members.Count() > 0)
                    {
                        foreach (Member m in p.Members)
                        {
                            <tr class="row justify-content-md-right">
                                <td class="col-md-2">@p.Name</td>
                                <td class="members col-md-3">
                                    @{uniquePositionId++;}
                                    <div id="@uniquePositionId" data-positionid="@p.PositionId" class="insertable">
                                        <span id="member-id-@m.MemberId" class="member" draggable="true">
                                            <img class="@m.Rank.PayGrade" style="height:16px; width:16px; margin-right:5px" />
                                            @m.GetTitleName()
                                            <a href="#" class="pull-right">
                                                <span class="glyphicon glyphicon-option-vertical"></span>
                                            </a>
                                        </span>
                                    </div>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr class="row justify-content-md-right">
                            <td class="col-md-2">@p.Name</td>
                            <td class="members col-md-4">
                                @{uniquePositionId++;}
                                <div id="@uniquePositionId" data-positionid="@p.PositionId" class="insertable"></div>
                            </td>
                        </tr>
                    }
                }
            }
            </table>
        </div>
    <br />
}

